<!DOCTYPE html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" />
  <title>Sinai Park Portfolio</title>
  <link rel="stylesheet" href="../style.css" />

  <link rel="stylesheet" href="contact.component.css" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <ul class="topnav">
    <li><a href="../about/about.component.html">About</a></li>
    <li><a href="../portfolio/portfolio.component.html">Portfolio</a></li>
    <li><a href="../resume/resume.component.html">Resume</a></li>
    <li><a href="../contact/contact.component.html">Contact</a></li>
  </ul>
  <div class="top">
    <div class="container">
      <label>CONTACT</label>
      <p>Personal Info:</p>
      <p>Email: sp46@students.calvin.edu</p>
      <p>Tel: +123-456-7890</p>
    </div>
  </div>
</body>