<!DOCTYPE html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" />
  <title>Sinai Park Portfolio</title>
  <link rel="stylesheet" href="../style.css" />

  <link rel="stylesheet" href="portfolio.component.css" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <ul class="topnav">
    <li><a href="../about/about.component.html">About</a></li>
    <li><a href="../portfolio/portfolio.component.html">Portfolio</a></li>
    <li><a href="../resume/resume.component.html">Resume</a></li>
    <li><a href="../contact/contact.component.html">Contact</a></li>
  </ul>

  <div class="top">

    <div class="container p-3">
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="card mb-3">
            <div
              class="card-img"
              style="background-image:
              url('../assets/1.png');"></div>
            <div
              class="card-img-overlay d-flex flex-column
              justify-content-between">
              <p class="card-title">Software Engineering project</p>
              <p class="card-text oswald">Some content here.</p>
              <a href="www.sinai228.github.com">
                <i class="fa fa-github" style="color: white; font-size:
                  40px; float:right;"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
          <div class="card">
            <div
              class="card-img"
              style="background-image:
              url('../assets/2.jpg');"></div>
            <div
              class="card-img-overlay d-flex flex-column
              justify-content-between">
              <h4 class="card-title">Title Here</h4>
              <p class="card-text oswald">
                Lorem ipsum dolor sit amet, eu duo adhuc graeci praesent, nec
                legendos volutpat facilisis cu. Id mea dolores salutatus
                omittantur,
                mea in purto deleniti oporteat, dicit dicunt ius et.
              </p>
              <a href="www.sinai228.github.com">
                <i class="fa fa-github" style="color: white; font-size:
                  40px; float:right;"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
          <div class="card">
            <div
              class="card-img"
              style="background-image:
              url('../assets/3.png');"></div>
            <div
              class="card-img-overlay d-flex flex-column
              justify-content-between">
              <h4 class="card-title">Title Here</h4>
              <p class="card-text oswald">
                Lorem ipsum dolor sit amet, eu duo adhuc graeci praesent, nec
                legendos volutpat facilisis cu.
              </p>
              <a href="www.sinai228.github.com">
                <i class="fa fa-github" style="color: white; font-size:
                  40px; float:right;"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-4">
          <div class="card mb-3">
            <div class="card-img" style="background-image:
              url('../assets/4.png');"></div>
            <div class="card-img-overlay d-flex flex-column
              justify-content-between">
              <h4 class="card-title">Title Here</h4>
              <p class="card-text oswald">Some content here.</p>
              <a href="https://github.com/calvin-cs262-fall2020-Freespace">
                <i class="fa fa-github" style="color: white; font-size:
                  40px; float:right;"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
          <div class="card">
            <div class="card-img" style="background-image:
              url('../assets/5.png');"></div>
            <div class="card-img-overlay d-flex flex-column
              justify-content-between">
              <h4 class="card-title">Title Here</h4>
              <p class="card-text oswald">
                Lorem ipsum dolor sit amet, eu duo adhuc graeci praesent, nec
                legendos volutpat facilisis cu. Id mea dolores salutatus
                omittantur,
                mea in purto deleniti oporteat, dicit dicunt ius et.
              </p><a href="www.sinai228.github.com">
                <i class="fa fa-github" style="color: white; font-size:
                  40px; float:right;"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
          <div class="card">
            <div class="card-img" style="background-image:
              url('../assets/6.png');"></div>
            <div class="card-img-overlay d-flex flex-column
              justify-content-between">
              <h4 class="card-title">Title Here</h4>
              <p class="card-text oswald">
                Lorem ipsum dolor sit amet, eu duo adhuc graeci praesent, nec
                legendos volutpat facilisis cu.
              </p>
              <a href="www.sinai228.github.com">
                <i class="fa fa-github" style="color: white; font-size:
                  40px; float:right;"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-4">
          <div class="card mb-3">
            <div class="card-img" style="background-image:
              url('../assets/7.png');"></div>
            <div class="card-img-overlay d-flex flex-column
              justify-content-between">
              <h4 class="card-title">Title Here</h4>
              <p class="card-text oswald">Some content here.</p>
              <a href="www.sinai228.github.com">
                <i class="fa fa-github" style="color: white; font-size:
                  40px; float:right;"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
          <div class="card">
            <div class="card-img" style="background-image:
              url('../assets/ysbeach.jpg');"></div>
            <div class="card-img-overlay d-flex flex-column
              justify-content-between">
              <h4 class="card-title">Title Here</h4>
              <p class="card-text oswald">
                Lorem ipsum dolor sit amet, eu duo adhuc graeci praesent, nec
                legendos volutpat facilisis cu. Id mea dolores salutatus
                omittantur,
                mea in purto deleniti oporteat, dicit dicunt ius et.
              </p><a href="www.sinai228.github.com">
                <i class="fa fa-github" style="color: white; font-size:
                  40px; float:right;"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
          <div class="card">
            <div class="card-img" style="background-image:
              url('../assets/8.png');"></div>
            <div class="card-img-overlay d-flex flex-column
              justify-content-between">
              <h4 class="card-title">Title Here</h4>
              <p class="card-text oswald">
                Lorem ipsum dolor sit amet, eu duo adhuc graeci praesent, nec
                legendos volutpat facilisis cu.
              </p>
              <a href="https://github.com/cs336-wic/web-app">
                <i class="fa fa-github" style="color: white; font-size:
                  40px; float:right;"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>