.top {
  margin-top: 70px;
}
img {
  filter: drop-shadow(5px 5px 5px #222222);
  width: 50vw;
  display: block;
  margin: auto;
}
fa-icon {
  left: 50%;
  display: block;
  margin: auto;
}

@media screen and (max-width: 600px) {
  .top {
    margin-top: 200px;
  }
  img {
    width: 80vw;
    margin-left: 10%;
  }
}
